@tailwind base;
@tailwind components;
@tailwind utilities;

.jvm-zoom-btn {
  padding: 8px;
  height: 28px;
  width: 25px;
  left: 10px;
  border: 1px solid blue;
}

.jvm-zoomout {
  top: 40px !important;
}
